body {
  overflow-x: hidden;
  height: 100vh;
  padding: 0;
}
html {
  height: 100vh;
  padding: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#root{
  background: #F8F9FB;
}
.dot {
  height: 7px;
  width: 7px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
.ratingAAA {
  background-color: rgba(163, 229, 178, 1);
}
.ratingAA {
  background-color: rgba(163, 229, 178, .8);
}
.ratingA {
  background-color: rgba(163, 229, 178, .6);
}

.ratingBBB {
  background-color: rgba(255, 234, 160, 1);
}
.ratingBB {
  background-color: rgba(255, 234, 160, .8);
}
.ratingB {
  background-color: rgba(255, 234, 160, .6);
}

.ratingCCC {
  background-color: rgba(255, 210, 210, 1);
}
.ratingCC {
  background-color: rgba(255, 210, 210, .8);
}
.ratingC {
  background-color: rgba(255, 210, 210, .6);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}